.TABLESAPIIComponent{
    background-color: #ffffff;
    justify-content: center;
    width: 100vh;
    margin: 0;
    height: 100vh;
}

span{
    color: crimson;
}

h3{
    font-size: 11px;
    font-weight: 900;
    position: absolute;
    top: 800px;
    left: 20px;
    padding: 20px;
    text-align: left;

    
}

#UOUTABELX{
    display: none;
}

#bcbgovTablefourth{
    display: none;
}
#CmegroupTable{
    display: none;
}
#BarchartTable{
    display: block;
}
#TableB3{
    display: none;
}
#RigthArrow{
    position: absolute;
    top: 350px; right: 250px;
    padding: 20px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    background: none;
}
#LeftArrow{
    position: absolute;
    top: 350px; left: 250px;
    padding: 20px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    background: none;
}
p{
    font-size: 20px;
}

.logo{
   display: flex;
   justify-items: left;
   position: absolute;
   top: 10px;
   left: 10px;
}

#UOUTable{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style:solid;
    border-width: 4px;
    border-color: #000000;
    font-size: 100%;
    font-weight:bold;
}

h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

#DinamicTable{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style:solid;
    border-width: 4px;
    border-color: #000000;
    font-size: 100%;
    font-weight:bold;
}

#SecondTableCmegroup{
    border-style:solid;
    border-width: 4px;
    border-color: #000000;
    font-size: 100%;
    font-weight:bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



#B3TABLEX{
    border-style:solid;
    border-width: 4px;
    border-color: #000000;
    font-size: 100%;
    font-weight:bold;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#Fourthtable{
    border-style:solid;
    border-width: 4px;
    border-color: #000000;
    font-size: 100%;
    font-weight:bold;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}